<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Demo App</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <!-- <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li> -->
                </ul>
            </nav>
            <h3 class="text-muted" style="text-align: center;">Demo App</h3>
        </div>

        {% block content %}{% endblock %}

        <footer class="footer">
            <p style="text-align: center;">
                IP: <strong>{{ipaddr}}</strong> | hostname: <strong>{{hostname}}</strong>
            </p>
        </footer>

    </div>
</body>

</html>